$black: #232323;
$lightGrey: rgb(148, 148, 148);
$background: linear-gradient(to bottom, #eef3ff, #d8dff0);
$gray-line: #f6f6f6;
$orange: #fea41e;
$footer: rgb(255, 62, 62);

// Font weight
$bold: 600;

// Font size
$O7: 0.7rem;

$container-width: 90%;

$duration: 0.15s;
